body, html {
  margin: 0 0 16px 0;
  padding: 0;
  background-color: #E3DACE;
}

.navegacion1 li{
 border:4px solid #ECBC7B;
 padding:10px;
 margin-left:40px;
	
}

#menu{
	
	background-color: antiquewhite;
    font-size:11px; 
	text-align:center;
	float:center;
	height:79px;
	width:100%;
	padding-top:35.5px;
	padding-left:0px;

}
#menu .b{
	
	color:black;
	
	justify-content:center;
	transition: all 0.8s ease;
	
    display:inline-block;
    font-family:calibri;
	border-radius:5px 5px 5px 5px;
      float:left;
	

}
#menu .b:hover{
	background:white;
padding:15px;

	float:left;
	}


#menu .c{
	 
	color:black;
	
	transition: all 0.8s ease;
   
    font-family:calibri;
	border-radius:5px 5px 5px 5px;
float:left;
}
#menu .c:hover{
	
	padding:15px;
	background:white;
float:left;
}

#menu .e{
	 
	color:black;
	
	transition: all 0.8s ease;

float:left;
    font-family:calibri;
	border-radius:5px 5px 5px 5px;

}
#menu .e:hover{
	
	background:white;
padding:15px;
float:left;
}


#menu .f{
	 
	color:black;
	
	transition: all 0.8s ease;
float:left;
  
    font-family:calibri;
	border-radius:5px 5px 5px 5px;

}
#menu .f:hover{
	float:left;
	background:white;
    padding:15px;
}


#menu .g{
	 
	color:black;
	transition: all 0.8s ease;
	float:left;
    font-family:calibri;
	border-radius:5px 5px 5px 5px;

}
#menu .g:hover{
	float:left;
	background:white;
    padding:15px;
}



li{display:inline-block;margin-left: 149px;text-emphasis-color: black;font-family: sans-serif}

.cajas {
    display: block;
    margin: 0 auto;
    text-align: center;
	
}

.cajas div {
    padding: 15px;
    display: inline-block;
	
}

.cajas img {
    width: 300px;
	height:250px;
	border-color:black;
	border:15px;
	border-style:dooted;
}





#caja11{
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
}

#caja02{
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
  background-color: antiquewhite;
}
#sn{
background-color: #E3DACE;;margin:auto;margin-top:20px; font-size: 60px; font-family: Brush Script MT; margin-top: 32px;margin-bottom: 32px; text-align: center;
}

#caja06, #caja18, #caja123{ background-color: #E3DACE;;margin:auto;margin-top:20px; font-size: 60px; font-family: Brush Script MT; margin-top: 32px;margin-bottom: 32px; text-align: center;}

#caja03{ background: url("galeria01.jpg"); background-size: cover}

#caja04{width: 700px; height: 700px; background:url("galeria02.jpg"); margin-top: 2%;background-size: cover}

#caja05{width: 700px; height: 700px; background:url("galeria04.jpg");float: right; margin-left: 180px; margin-top: 15px;background-size: cover}

#caja07{width: 700px; height: 700px; background:url("galeria05.jpg");margin-top: 15px;background-size: cover}

#caja08{width: 700px; height: 700px; background:url("galeria06.jpg"); float: right;margin-top: 15px}

#caja09{width: 700px; height: 700px; background:url("galeria07.jpg");margin-top: 15px}

#caja12{width: 700px; height: 700px; background:url("helado.jpg");margin-top: 15px; float: right;margin-left: 180px; background-size: cover}

#caja13{width: 700px; height: 700px; background:url("helado2.jpg");margin-top: 15px; background-size: cover}

#caja16{margin-top: 9px;text-align: center;
}

video#vide01
{background-size: cover;  display: block; margin: 5% auto; }

#caja17{margin-top: 9px;
width: 700px; height: 700%
}

video#vide03
{background-size: cover; margin-top: 5%}


a:link
{text-decoration:none}
a{color: black}








