body{background-color: antiquewhite;}
#caja123{ background-color:antiquewhite;margin-left:60px;font-size: 60px; font-family: Brush Script MT; margin-bottom: 32px; text-align: center;}
.contenedor-galeria{
	width:657px;
	height:502px;
	position:absolute;
	left:53%;
	top:55%;
	border: 3px solid black;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	
}

.img1{
	float:left;
	width:206px;
	height:298px;
	background-image:url(../img/galeria01.jpg);
	background-size:150% 120%;
	background-position:center;
}

.img2{
	float:right;
	margin-right:225px;
	width:214px;
	height:226px;
	background-image:url(../img/galeria02.jpg);
	background-size:170% 100%;
	background-position:center;
}

.img3{
	float:right;
	margin-right:0px;
	margin-top:-226px;
	width:214px;
	height:329px;
	background-image:url(../img/galeria03.jpg);
	background-position:center;
}

.img4{
	float:left;
	margin-right:32px;
	margin-top:12px;
	width:206px;
	height:192px;
	background-image:url(../img/galeria04.jpg);
	background-size: 200% 100%;
	background-position:center;
}

.img5{
	float:right;
	margin-right:225px;
	margin-top:-264px;
	width:214px;
	height:264px;
	background-image:url(../img/galeria05.jpg);
	background-size: 200% 100%;
	background-position:center;
}

.img6{
	float:right;
	margin-right:0px;
	margin-top:-161px;
	width:214px;
	height:161px;
	background-image:url(../img/galeria06.jpg);
	background-size: 120% 130%;
	background-position:center;
}

.navegacion1 ul{list-style:none;
}  



.navegacion1 li{ background: black;
padding:20px 0px;
margin-left:20px;
border: 5px solid gray;
width: 130px; 
height: 20px;
text-align: auto;
}
.navegacion1 a:link
{text-decoration:none}
.navegacion1 a{color: black}